---
- name: Exim4 | Set mailname
  copy:
    dest: /etc/mailname
    content: |
       {{ exim4_mailname }}
    owner: root
    group: root
    mode: 0644

- name: Exim4 | Set local aliases
  copy:
    dest: /etc/aliases
    content: |
      # /etc/aliases
      {% for alias in exim4_aliases | dict2items %}
      {{ alias.key }}: {{ alias.value }}
      {% endfor %}
  notify: Newaliases
  tags: exim-aliases

- name: Exim4 | Install package
  apt:
    name: "{{ exim4_package_name }}"
    state: present

- name: Exim4 | Configure debconf for exim4-config
  debconf:
    name: exim4-config
    question: '{{ item.question }}'
    value: '{{ item.value }}'
    vtype: '{{ item.vtype }}'
  loop: '{{ exim4_debconf }}'
  notify:
    - Update Exim4 conf
    - Restart Exim4

- name: Exim4 | Configure update-exim4.conf.conf
  template:
    src: "{{ exim4_updateexim4confconf_template }}"
    dest: /etc/exim4/update-exim4.conf.conf
  notify:
    - Update Exim4 conf
    - Restart Exim4

- name: Exim4 | Copy split-files conf
  template:
    src: "{{ exim4_confd_local_dir }}{{ item }}"
    dest: "/etc/exim4/conf.d/{{ item }}"
    owner: root
    group: root
    mode: 0644
  with_items: "{{ exim4_confd_files }}"
  notify:
    - Update Exim4 conf
    - Restart Exim4
  when: exim4_conf_dc_use_split_config == 'true'

- name: Exim4 | Copy single-file conf
  template:
    src: "{{ exim4_template_local_dir }}{{ exim4_template_conf }}"
    dest: "/etc/exim4/exim4.conf.template"
    owner: root
    group: root
    mode: 0644
  notify:
    - Update Exim4 conf
    - Restart Exim4
  when: exim4_conf_dc_use_split_config == 'false'

- name: Configure additional ports for Exim
  lineinfile:
    dest: /etc/default/exim4
    line: |-
      SMTPLISTENEROPTIONS='-oX {{ exim4_main_port }}{% if exim4_extra_ports | count > 0 %}:{{ exim4_extra_ports | map(attribute='port') | list | join(":") }}{% endif %} -oP /run/exim4/exim.pid'
    regexp: '^SMTPLISTENEROPTIONS='
  notify:
    - Restart Exim4

- name: Add local macros to Exim configuration
  template:
    src: local_macros.j2
    dest: '/etc/exim4/conf.d/main/00_local_macros'
    owner: root
    group: root
    mode: 0644
  notify:
    - Update Exim4 conf
    - Restart Exim4

- name: Exim4 | TLS configuration file
  template:
    src: tls.j2
    dest: '/etc/exim4/conf.d/main/00_local_tls'
    owner: root
    group: root
    mode: 0644
  notify:
    - Update Exim4 conf
    - Restart Exim4

- name: Exim4 | DKIM Setup
  import_tasks: dkim.yml
  when: exim4_dkim_enable is sameas true
  tags: exim4-dkim

- name: Exim4 | Create other files
  copy:
    content: "{{ item.content }}"
    dest: "{{ item.file }}"
    owner: root
    group: root
    mode: 0644
  with_items: "{{ exim4_other_conf_files }}"
  notify:
    - Update Exim4 conf
    - Restart Exim4

- name: Exim4 | Configure logs rotation
  template:
    src: "{{ item.value.template|default('logrotate.j2') }}"
    dest: "/etc/logrotate.d/{{ item.key }}"
  with_dict: "{{ exim4_logrotate }}"

- name: Exim4 | Enable at boot
  service:
    name: exim4
    enabled: yes
    state: started
