{% if  exim4_check_rcpt_verify_sender is sameas true %}
CHECK_RCPT_VERIFY_SENDER = {{ exim4_check_rcpt_verify_sender | lower }}
{% endif %}
{% if exim4_tls_enabled %}
MAIN_TLS_ENABLE = true
{% endif %}
{% if exim4_log_selector is defined %}
MAIN_LOG_SELECTOR = {{ exim4_log_selector }}
{% endif %}
{% for macro in exim4_extra_macros %}
{{ macro.macro | upper }} = {{ macro.value }}
{% endfor %}
